<div class="main">
<div id="wrapper">
     <div id="inner">
       	   <form action="/start" method="POST" class="well" id="start">
	    <label>Pseudo</label>
	    <input type="text" name="pseudo" class="span3" placeholder="" x-webkit-speech/>
	    <label>Create/open a Posts with the name</label>
	    <input type="text" name="space" class="span3" placeholder="" x-webkit-speech/>
	    <input type="button" class="btn" value="GO" id="go"/>
	   </form>
     </div>
 </div>
</div>

